html{
    color:white;
    background: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.quote-container{
    margin-left: auto;
    margin-right: auto;
    margin: 40px;
    border: 2px solid white;
    padding: 40px;
}

.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(0.8);
}